@font-face {
    font-family: Roboto-Regular;
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: Segoe-UI-Bold;
    src: url('../fonts/Segoe\ UI\ Bold.ttf');
}

@font-face {
    font-family: Segoe-UI;
    src: url('../fonts/Segoe\ UI.ttf');
}

/* Base */

html {
    height: 100%;
    font-family: Segoe-ui;
    font-size: 14px;
    color: #172b4d;
    line-height: 20px;
}

body {
    height: 100%;
    margin: 0;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

ul {
    padding: 0;
}

button {
    border: 0px;
}

button:hover {
    cursor: pointer;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url('../img/mountains-stars-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.app-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.app-main h2 {
    margin-top: 12px;
    font-family: Segoe-UI-Bold;
}

/* Header */

.app-header {
    background-color: #273240b0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #95959b;
}

.logo {
    font-family: Segoe-UI-Bold;
    font-size: 1.5rem;
    letter-spacing: .8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5px;
}

.logo span {
    font-size: 1.5rem;
    padding-top: 3px;
}

nav {
    display: flex;
    gap: 0;
}

.nav-icon {
    font-size: 20.5px;
    background-color: rgba(255, 255, 255, 0.3);
    width: fit-content;
    padding: 6px;
    border-radius: 3px;
    margin: 4px 4px 4px 0;
    color: rgb(255, 255, 255);
}

.nav-icon:hover {
    background-color: rgba(85, 84, 84, 0.774)
}

.nav-icon:first-child {
    margin-left: 4px;
}

.header-features span {
    padding: 6px;
    font-size: 20.5px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    margin: 4px 4px 4px 0;
    color: #d9dadc;
}

.header-features span:hover {
    background-color: rgba(85, 84, 84, 0.774);
    cursor: pointer;
}

/* Footer */

.app-footer {
    padding: 10px 0;
    text-align: center;
    color: #95959b;
}

/* Home-page */

.home-page {
    font-size: 23px;
    font-family: Segoe-UI-Bold;
    align-items: center;
    color: rgb(200, 200, 200);
}

.home-page h2 {
    margin-top: 25px;
}

.home-page p {
    margin-top: 25px;
    font-size: 20px;
}

/* Todo-list */

.todo-list {
    display: flex;
    flex-direction: column;
    color: #4b5a74;
    background-color: #ebecf0;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    width: 272px;
    height: fit-content;
}

.todo-list h4 {
    align-self: flex-start;
    padding: 10px 0 5px 5px;
    margin-left: 12px;
    font-size: 14px;
}

.todo-compose-btn {
    width: 89%;
    align-self: baseline;
    display: flex;
    justify-content: baseline;
    align-items: center;
    margin-bottom: 8px;
    margin-left: 12px;
    color: #5e6c84;
    border-radius: 3px;
}

.todo-compose-btn:hover {
    cursor: pointer;
    background-color: rgb(216, 216, 216);
}

/* Todo-preview */

.todo-preview {
    position: relative;
    font-size: 14px;
    padding: 6px 8px 6px;
    color: #4b5a74;
    text-decoration: none;
    background-color: #ffffff;
    width: 89%;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
}

.todo-preview:hover {
    background-color: #f0f0f3;
}

.delete-preview-btn {
    position: absolute;
    top: 2px;
    right: 2px;
    opacity: 0;
    transition: opacity .15s;
    padding: 7px;
    font-size: 11px;
    border-radius: 3px;
}

.todo-preview:hover .delete-preview-btn {
    opacity: 1;
}

.delete-preview-btn:hover {
    background-color: #d8d8dd77;
}

/* Todo-app */

.todo-app {
    margin-left: 8px;
}

.board-lists {
    display: flex;
    gap: 8px;
}

.board-nav-container {
    display: flex;
    gap: 8px;
}

.board-nav-container>* {
    padding: 5px;
    background-color: hsla(0, 0%, 100%, .24);
    font-size: 14px;
    color: #ffffff;
    border-radius: 3px;
}

.board-nav-container :last-child {
    font-family: Segoe-UI-Bold;
    font-size: 18px;
}

.board-nav-container :first-child {
    font-family: Segoe-UI;
    font-size: 14px;
}

/* Todo-compose */

.todo-compose textarea {
    font-size: 14px;
    padding: 6px 8px 6px;
    color: #4b5a74;
    text-decoration: none;
    width: 89%;
    border-radius: 3px;
    border: 0px;
    outline: none;
    border-radius: 3px;
    background-color: #ffffff;
    overflow: hidden;
    overflow-wrap: break-word;
    resize: none;
    height: 54px;
    font-size: 14px;
    letter-spacing: -1px;
    font-family: Segoe-UI;
}

.todo-compose {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.todo-compose .compose-features {
    align-self: baseline;
    display: flex;
    justify-content: center;
    align-items: center;
}

.compose-features button:first-child {
    background-color: #0079bf;
    padding: 10px;
    border-radius: 3px;
    margin: 0px 0px 8px 8px;
    color: #ffffff;
}

.compose-features button:first-child:hover {
    background-color: rgba(9, 30, 66, .04);
}

.compose-features button:last-child {
    padding-bottom: 10px;
    color: rgb(151, 151, 151);
}

.compose-features button:last-child:hover {
    color: rgb(105, 105, 105);
}

/* List-compose */

.list-compose textarea {
    font-size: 14px;
    padding: 6px 8px 6px;
    color: #4b5a74;
    text-decoration: none;
    width: 89%;
    border-radius: 3px;
    border: 0px;
    outline: none;
    border-radius: 3px;
    background-color: #ffffff;
    overflow: hidden;
    overflow-wrap: break-word;
    resize: none;
    /* height: 54px; */
    font-size: 14px;
    letter-spacing: -1px;
    font-family: Segoe-UI;
    margin-top: 6.5px;
    padding: 6.5px;
    height: 28px;
}

.list-compose .compose-features {
    display: flex;
}

.list-compose .compose-features :first-child {
    margin: 2px 0 7px 0;
}

.list-add-btn {
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    /* color: #4b5a74; */
    /* background-color: #ebecf0; */
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    width: 272px;
    height: fit-content;
    background-color: rgba(233, 230, 230, 0.24);
    color: #ffffff;
    transition: color 85ms ease-in;
}

.list-add-btn:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.246);
}

.list-add-btn span {
    font-size: 18px;
}

.list-add-btn h4 {
    /* padding: 10px 0 5px 5px;
    align-self: flex-start; */
    align-self: flex-start;
    /* padding: 10px 0 5px 5px; */
    padding: 12.5px 0 7.5px 5px;
    margin-left: 12px;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.list-compose-container {
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    /* color: #4b5a74; */
    background-color: #ebecf0;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    width: 272px;
    height: fit-content;
    color: #ffffff;
    /* transition: color 85ms ease-in; */
}

/* Todo-details */

.todo-details {
    position: absolute;
    background-color: #f4f5f7;
    height: 92.5%;
    width: 760px;
    bottom: 0;
    right: 62.25vh;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px;
    z-index: 1;
}

.todo-details-header textarea {
    border-radius: 3px;
    border: 0px;
    outline: none;
    background-color: #f4f5f7;
    flex-grow: .9;
    resize: none;
    font-family: Segoe-UI;
    font-weight: 600;
    font-size: 18px;
    color: #172b4d;
    padding: 10px 5px 5px 5px;
}

.todo-details-header {
    display: flex;
}

.todo-details-header>* {
    justify-self: baseline;
}

.todo-details-header span {
    margin-left: 8.5px;
    margin-top: 6px;
    margin-right: 7px;
}

.todo-details a {
    position: absolute;
    top: 4px;
    right: 4px;
    text-decoration: none;
    font-size: 20px;
    padding: 12px;
    border-radius: 50%;
}

.todo-details a:hover {
    background-color: rgba(223, 228, 231, 0.774);
}